<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <style>
            * {
                padding: 0;
                margin: 0;
            }
            body {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <h1>Register</h1>

        <form action="/register" method="post">

        </form>

        <br>
        <a href="/">Go Back</a>
    </body>
</html>